*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
/* HEADER */
header {
    width: 100%;
    background-color: rgb(47, 59, 82);
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
header .header-img{
    padding-top: 30px;
    justify-self: start;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header-img img{
    width: 50%;
    height: 50%;
}
header .header-title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-column: 2/3;
    
}
header h1 {
    font-size: 5rem;
    margin: 10px;
    font-weight: 500;
    color: white;
    
}
header p {
    font-weight: 500;
    font-size: 1.6rem;
    color: white;
}
header .header-home{
    justify-self: end;
    align-self: center;
    margin-right: 80px;
    
}
header .header-home a{
    text-decoration: none;
    border-bottom: 2px white solid;
    padding-bottom: 3px;
    color: white;
    font-size: 2rem;
}
header .header-home a span {
    vertical-align: middle;
}

main{
    padding-top: 40px;
    height: auto;
    margin-bottom: 50px;
}


/* PRIMERA SECCION*/


.first-section{
    width: 70%;
    height: auto;
    padding: 30px;
    margin: 0 auto;
    background-color: #bae8e8;
    border-radius: 7px;
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.6);
}
.first-section div h2 {
    font-size: 2rem;
}
.first-section form  article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
}
.first-section form  article label{
    font-size: 1.8rem;
    width: 300px;
    padding: 25px 0;
}
.first-section form  article div {
    width: 200px;
    text-align: center;
}

.first-section section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
}

.first-section section input {
    margin: 10px;
    font-size: 500;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px 0px rgb(153 153 153);
    width: 30%;
    min-width: 260px;
}

.first-section section button{
    background-color: #9C8B6D;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    border-radius: 5px;
    font-size: 1.8rem;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px 0px rgb(26, 31, 39);
    cursor: pointer;
    outline: none;
    transition: transform 0.50s;
}


/* SEGUNDA SECCION*/

.second-section{
    width: 70%;
    height: auto;
    padding: 30px;
    margin: 0 auto;
    margin-top: 30px;

    background-color: #302643;
    border-radius: 7px;
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.6);
}
.second-section h2 {
    font-size: 2rem;
    color: white;
}

.second-section form  article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
}
.second-section form  article label{
    font-size: 1.8rem;
    width: 300px;
    padding: 25px 0;
    color:white;
}
.second-section form  article div {
    width: 200px;
    text-align: center;
}

.second-section section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
}
.second-section section input {
    margin: 10px;
    font-size: 500;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px 0px rgb(153 153 153);
    width: 15%;
    min-width: 260px;
}
.second-section section button{
    background-color: #688F43;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    border-radius: 5px;
    font-size: 1.8rem;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px 0px rgb(26, 31, 39);
    cursor: pointer;
    outline: none;
    transition: transform 0.50s;
}

/* SECCION CIRCULO */

.third-section{
    width: 70%;
    height: auto;
    padding: 30px;
    margin: 0 auto;
    margin-top: 30px;

    background-color: #346969;
    border-radius: 7px;
    box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.6);
}
.third-section h2 {
    font-size: 2rem;
    color: white;
}

.third-section form  article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
}
.third-section form  article label{
    font-size: 1.8rem;
    width: 300px;
    padding: 25px 0;
    color:white;
}
.third-section form  article div {
    width: 200px;
    text-align: center;
}

.third-section section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
}
.third-section section input {
    margin: 10px;
    font-size: 500;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px 0px rgb(153 153 153);
    width: 15%;
    min-width: 260px;
}
.third-section section button{
    background-color: #B57148;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500px;
    border-radius: 5px;
    font-size: 1.8rem;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px 0px rgb(26, 31, 39);
    cursor: pointer;
    outline: none;
    transition: transform 0.50s;
    
}

/* FOOTER */ 

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-color: rgb(47, 59, 82);
    padding: 10px;
}
footer .logo-footer-container{
    width: 50%;
    min-width: 320px;
}
footer .redes-footer-container{
    width: 50%;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .redes-footer-container ul{
    list-style: none;
}
footer .redes-footer-container ul li{
    margin: 10px;
}
footer .redes-footer-container ul li a{
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}
.redes-logo{
    vertical-align: middle;
    margin-right: 5px;
}
.logo-footer-container {
    text-align: center;
}
.logo-footer-container img {
    padding-left: 50px;
}
 button{
    transition: all 0.50s;
 }
form button:hover{
    transform: translate(0px, -5px);
    transition: all 0.50s;
}

/* MEDIA QUERIES HEADER Y FOOTER */

@media(max-width:768px){
    header {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .header-img{
        
    }
    header .header-title{
        padding-top: 0;
    }
    header .header-title h1{
        font-size: 4rem;
    }
    header .header-title p{
        font-size: 1.2rem;
    }
    header .header-home{
        text-align: center;
        margin-right: 0;
    }
    header .header-img img{
        width: 0;
        height: 0;
    }
    footer .logo-footer-container img{
        padding: 0;
    }
    footer .redes-footer-container{
        padding: 10px 0;
    }
    footer .logo-footer-container, footer .redes-footer-container{
        width: auto;
    }
}